</div>
</div>
<script data-cfasync="false" src="https://cdn.jsdelivr.net/npm/syzoj-public-cdn@1.2.0/cdnjs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/syzoj-public-cdn@1.2.0/cdnjs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/syzoj-public-cdn@1.2.0/self/script.js?20170710"></script>
</body>
</html>