<% this.title = '注册' %>
<%- include('header') -%>
<div class="padding">
  <h1>注册</h1>
  <div class="ui error message" id="error" data-am-alert hidden>
    <p id="error_info"></p>
  </div>
          <form class="ui form">
                <div class="field">
                    <label for="username">用户名</label>
                    <input type="text" placeholder="" id="username">
                </div>
                <div class="two fields">
                    <div class="field">
                    <label class="ui header">密码</label>
                      <input type="password" placeholder="" id="password1">
                    </div>
                    <div class="field">
                      <label class="ui header">确认密码</label>
                      <input type="password" placeholder="" id="password2">
                    </div>
                </div>
                <a id="sign_up" class="ui button" href="javascript:submit();">注册</a>
            </form>
</div>
<script src="https://cdn.jsdelivr.net/gh/Aestas16/syzoj-public-cdn@master//cdnjs/blueimp-md5/2.10.0/js/md5.min.js"></script>
<script type="text/javascript">
function show_error(error) {
    $("#error_info").text(error);
    $("#error").show();
}

function success() {
    alert("注册成功！");
    window.location.href = location.protocol + '//' + location.host + '/';
}

function submit() {
    if ($("#password1").val() != $("#password2").val()) {
        show_error("两次输入的密码不一致");
        return;
    }
    password = md5($("#password1").val() + "summersalt")
    $("#sign_up").addClass("loading");
    $.ajax({
        url: '/api/sign_up',
        type: 'POST',
        async: true,
        data: {
          username: $("#username").val(),
          password: password
        },
        success: function(data) {
            if (!data.err) success();
            else show_error(data.err);
            $("#sign_up").removeClass("loading");
        }
    });
}
</script>
<%- include('footer') -%>
